
.education-skills {
    padding: 2rem;
    background: white; 
    border-bottom: double 3px #3498db; 
    margin-bottom: 2rem; 
  }
  
  .education-skills h2 {
    color: #2c3e50;
  }
  
  .education-skills ul {
    list-style: none;
    padding: 0;
   
  }
  
  .education-skills li {
    margin-bottom: 0.5rem;
    
  }
  
