.experience {
  padding: 2rem;
  background: white;
  text-align: left-center; 
  border-bottom: double 3px #3498db; 
  margin-bottom: 2rem;
}

.experience h3, .experience p {
  color: #2c3e50; 
  margin-bottom: 0.5rem;
   
}
