footer {
    background-color: #3498db; 
    color: white;
    text-align: center;
    position:relative;
    width: 100%;
    justify-content: center;
    height: 50px; 
    line-height:1.5 rem;
  }
  footer p {
    margin: 0; 
  }
  
  footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0.5rem; 
  }
  
  footer a:hover {
    color: red;
    text-decoration: underline;
  }
  
